table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

table, tr, td {
    /*for making sure names are centered correctly*/
    /*border: 40px solid red;*/
    border: 40px solid white;
}

tr, td {
    width: 50%;
    height: 25%;
}

@media print {
    table {
        page-break-after: always;
    }
}

.name {
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    
    /*for name tag paper that is shifted over a little*/
    padding-left: 5px;
    padding-top: 5px;
}