table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 3px solid black;
}

.cutoffs td {
    border: 0;
    font-weight: bold;
}

.CompName {
    font-size: 300%;
    font-weight: bold;
}

.labels {
    font-size: 150%;
    font-weight: bold;
}

.attempt {
    font-size: 250%;
    font-weight: bold;
    text-align: center;
}

.event, .personID {
    font-size: 200%;
    font-weight: bold;
    width: 60px;
}

.round, .heat {
    font-size: 150%;
    font-weight: bold;
}

.personName {
    font-size: 250%;
    font-weight: bold;
}

.initial {
    width: 100px;
}