<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CubeToaster</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CubeToaster.css') }}">
</head>
<body>
<h1>CubeToaster - Heat Generator</h1>
{% block content %}
  <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
      
      {{ form.compName.label }} {{ form.compName() }}
      </br>
      {{ form.roundNum.label }} {{ form.roundNum() }}
      </br>
      {{ form.event.label }} {{ form.event() }}
      </br>
      {{ form.cutoff.label }} {{ form.cutoff() }}
      </br>
      {{ form.timeLimit.label }} {{ form.timeLimit() }}
      </br>
      {{ form.names.label }} {{ form.names() }}
      </br>
      
      {{ form.submit() }}
  </form>
{% endblock %}

</body>
</html>